.cards > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

/* The card component allows for setting some styles */
.cards ::part(title) {
    text-transform: capitalize;
}

.cards ::part(text) {
    color:var(--text-color, black);
}