/* block specific CSS goes here */

div .newblock {
  max-width: unset;
  color: green;
  font-weight: bold;
}

div .newblock img {
  max-width: 20%;
}

div .newblock .decorated {
  font-style: italic;
  font-weight: normal;
  color:grey;
  font-size:80%;
}
