/* block specific CSS goes here */

main .newblock-container > div {
  max-width: unset;
  color: green;
  font-weight: bold;
}

main .newblock-container {
  padding: 0;
}

main .newblock {
  position: relative;
  padding: 32px;
  min-height: 300px;
}